#
# Copyright  1990-2008 Sun Microsystems, Inc. All Rights Reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version
# 2 only, as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License version 2 for more details (a copy is
# included at /legal/license.txt).
# 
# You should have received a copy of the GNU General Public License
# version 2 along with this work; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
# 
# Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa
# Clara, CA 95054 or visit www.sun.com if you need additional
# information or have any questions.
#
###############################################################################
# This file specifies the romized classes that should be initialized
# at build time/VM load time.
#

# Classes that should be initialized at build-time instead of run-time
#
# usage:
# InitAtBuild = javax.microedition.lcdui.Alert

# Do not rename the fields of the following classes because
# they are accessed via KNI_GetFieldID
#com.sun.jsr082.bluetooth.btl2cap
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.btl2cap.L2CAPConnectionImpl
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.btl2cap.L2CAPNotifierImpl
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.btspp.BTSPPConnectionImpl
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.btspp.BTSPPNotifierImpl
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.irdaobex.IrNativeNotifier
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.irdaobex.IrNativeConnection
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.BluetoothStack
DontRenameNonPublicFields = com.sun.jsr082.bluetooth.BCC

# Do not rename the following classes because they are instantiated
# via Class.forName()
#
DontRenameClass = com.sun.cldc.i18n.j2me.UTF_16BE_Writer
DontRenameClass = com.sun.cldc.i18n.j2me.UTF_16BE_Reader
DontRenameClass = com.sun.jsr082.bluetooth.btl2cap.Protocol
DontRenameClass = com.sun.jsr082.bluetooth.btspp.Protocol
DontRenameClass = com.sun.jsr082.obex.irdaobex.irdaobex.Protocol
DontRenameClass = com.sun.jsr082.obex.tcpobex.Protocol
DontRenameClass = com.sun.jsr082.obex.btgoep.Protocol
DontRenameClass = com.sun.midp.jsr082.SecurityInitializer
DontRenameClass = com.sun.jsr082.bluetooth.ServiceSearcher
DontRenameClass = com.sun.jsr082.obex.tcpobex.TCPOBEXConnection
DontRenameClass = com.sun.jsr082.obex.tcpobex.TCPOBEXNotifier
DontRenameClass = com.sun.midp.jsr82.ProtocolPushImpl
DontRenameClass = com.sun.jsr082.bluetooth.NativeSDPClient

# Do not rename the class because ObexAuth.class implicitly calls forName()
DontRenameClass = com.sun.jsr082.obex.ObexAuth

# Do not rename the following classes because their names are
# checked during security subsystem initialization
#
DontRenameClass = com.sun.midp.jsr082.SecurityInitializer$SecurityTrusted
DontRenameClass = com.sun.jsr082.obex.tcpobex.Protocol$SecurityTrusted
DontRenameClass = com.sun.jsr082.obex.btgoep.Protocol$SecurityTrusted
DontRenameClass = com.sun.jsr082.obex.irdaobex.Protocol$SecurityTrusted
DontRenameClass = com.sun.jsr082.bluetooth.SDP$SecurityTrusted

# These packages are hidden 
# Non-romized code is prevented from accessing even public methods/fields
# of classes in these packages
#
HiddenPackage = com.sun.cldc.i18n.j2me

# Don't hide the package since JDTS uses
# internal StringTokenizer class declared in this package
#HiddenPackage = com.sun.midp.jsr082

HiddenPackage = com.sun.jsr082.bluetooth
#HiddenPackage = com.sun.midp.io
#HiddenPackage = com.sun.midp.io.j2me.btl2cap
#HiddenPackage = com.sun.midp.io.j2me.btspp
#HiddenPackage = com.sun.midp.io.j2me.btgoep
#HiddenPackage = com.sun.midp.io.j2me.irdaobex
#HiddenPackage = com.sun.midp.io.j2me.tcpobex
HiddenPackage = com.sun.jsr082.obex
#HiddenPackage = com.sun.kvem.jsr082.bluetooth

# These packages are restricted
# Non-romized code cannot load new classes into them
#
RestrictedPackage = javax.bluetooth
RestrictedPackage = javax.obex

# Quick native functions are smaller in ROM footprint and are faster to invoke.
# Do not use quick native for Java native function calls that have
# KNIxxxNewxxx, SNIxxxNewxxx, Throw, and SNI_ statements.
#
# usage:
# QuickNative = com.sun.cldc.i18n.j2me.Conv.getByteLength

# Classes/methods that should be pre-compiled 
#
# usage:
# Precompile = com.sun.mep.bench.Chess.*
